In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
myindex=["USA","Canada","Mexico"]

In [5]:
mydata=[1776,1867,1821]

myser=pd.Series(data=mydata,index=myindex)

In [6]:
myser

NameError: name 'myser' is not defined

In [7]:
myser=pd.Series(data=mydata,index=myindex)

In [8]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [9]:
ages={'Sam':5,'Frank':10,'Spike':7}

In [10]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [11]:
q1={'Japan':80,'China':450,'India':200,'USA':250}

In [12]:
q2={'Brazil':100,'China':500,'India':210,'USA':260}

In [13]:
sales_q1=pd.Series(q1)

In [14]:
sales_q2=pd.Series(q2)

In [15]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [16]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [17]:
sales_q1.keys

<bound method Series.keys of Japan     80
China    450
India    200
USA      250
dtype: int64>

In [18]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [19]:
[1,2]*2

[1, 2, 1, 2]

In [20]:
np.array([1,2])*2

array([2, 4])

In [21]:
sales_q1*2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [22]:
sales_q1+sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [23]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [ ]:







myser=pd.Series(data=mydata,index=myindex)n